:host {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
    padding: 16px;
    width: 740px;
    margin: 0 auto;
}

#construction {
    padding: 12px;
    font-size: 18px;
    text-align: center;
    background-color: white;
    color: #C1A876;
}

#construction img {
    opacity: 0.7;
}

#construction p {
    margin: 0;
}

#construction span {
    margin: 0 12px;
}

#construction p * {
    vertical-align: middle;
}

#construction p:last-child span {
    font-size: 14px;
    opacity: 0.7;
}

