<h2>Me contacter</h2>

<div id="contact-block">

    <div id="contact-polaroid">
        <img src="assets/avatar.jpg" alt="Picture of me"/>
    </div>

    <ul id="contact-list">
        <li id="contact-name">Loren Scarazzini</li>
        <li>
            <img src="assets/icons/at.svg"/>
            <a href="mailto:contact@latelierdelou.fr">contact@latelierdelou.fr</a>
        </li>

        <li>
            <img src="assets/icons/phone.svg"/>
            <a href="tel:0683473924">0683473924</a>
        </li>
        <li>
            <img src="assets/icons/facebook-box.svg"/>
            <a href="http://www.facebook.com/latelierdelou.fr" target="_blank">facebook.com/latelierdelou.fr</a>
        </li>
        <li>
            <img src="assets/icons/instagram.svg"/>
            <a href="http://www.instagram.com/latelierdelou.fr" target="_blank">instagram.com/latelierdelou.fr</a>
        </li>
    </ul>

</div>
