<h2>Me contacter</h2>

<div id="contact-block" class="row">
    <div class="col s12 m12">
    <div id="contact-polaroid">
        <img src="assets/avatar.jpg" alt="Picture of me"/>
    </div>

    <div style="text-align: center;">
        <div id="contact-list" style="text-align: left;">
            <div id="contact-name">Loren Scarazzini</div>
            <div>
                <img src="assets/icons/at.svg"/>
                <a href="mailto:contact@latelierdelou.fr">contact@latelierdelou.fr</a>
            </div>

            <div>
                <img src="assets/icons/phone.svg"/>
                <a href="tel:0625898875">0625898875</a>
            </div>
            <div>
                <img src="assets/icons/facebook-box.svg"/>
                <a href="http://www.facebook.com/latelierdelou.fr" target="_blank">facebook.com/latelierdelou.fr</a>
            </div>
            <div>
                <img src="assets/icons/instagram.svg"/>
                <a href="http://www.instagram.com/latelierdelou.fr" target="_blank">instagram.com/latelierdelou.fr</a>
            </div>
        </div>
    </div>
    </div>
</div>
